---
import { Icon } from "astro-icon/components";

import { certifications_config } from "@/config";

import HorizontalLine from "@/components/common/HorizontalLine.astro";
---

{
  certifications_config.visible && (
    <HorizontalLine class:list="horizontal_line" />
    <div class="_certification_section flex flex-row py-2">
      <div class="_certification_section_name w-1/5">
        <h5 class="">{certifications_config.name}</h5>
      </div>
      <div class="_certification_cards w-4/5">
        {certifications_config.items
          .filter((item) => item.visible)
          .map((item) => (
            <div class="_certification_card pb-2 last:pb-2">
              <div class="_certification_title flex flex-row items-center justify-between">
                <a
                  href={item.url}
                  target="_blank"
                  class="flex flex-row items-center gap-1"
                >
                  <h5 class="font-semibold">{item.name}</h5>
                  <Icon name="arrow_up_right" class="w-[1.1rem] h-[1.1rem] pb-1" />
                </a>
                <h5 class="text-sm">{item.date}</h5>
              </div>
              <div class="_certification_subtitle flex flex-row items-center justify-between">
                <h5 class="text-sm italic">{item.issuer}</h5>
              </div>
            </div>
          ))}
      </div>
    </div>
  )
}

<style is:global>
  ._certification_card {
    break-inside: avoid;
  }

  ._certification_title {
    break-after: avoid-page;
  }

  ._certification_subtitle {
    break-before: avoid-page;
  }
</style>
